<h3>Made by Antoni Figueroa</h3>
<div>
	<img src="../images/homer.jpg">
	<iframe type="text/html" width="220" height="145" src="http://www.youtube.com/embed/E_dd1uY3FTc?html5=1" frameborder="0">
</div>
</iframe>